# Ignoring the Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignoring the  Python bytecode files
__pycache__/
*.pyc

# Ignoring the  virtual environments
venv/

# Ignoring the  system files
.DS_Store
Thumbs.db
